<!DOCTYPE html>
<html>
<head>
    <title>Assembly Hall Timer</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="shortcut icon" type="image/png" href="https://code.angularjs.org/favicon.ico"/>
    <script src="node_modules/angular/angular.js"></script>
    <script src="js/timer.js"></script>
    <!-- <script src="node_modules/angular-ui-bootstrap/ui-bootstrap.min.js" -->
    <script src="js/index.js"></script>
</head>
<body ng-app="app">
    <div ng-controller="TimerCtrl as vm">
        <form>
            <input type="text" class="speak" placeholder="Minutes of the speak" ng-model="vm.deadline"></input>
            <button ng-click="vm.startTimer()">Start</button>
            <button ng-click="vm.stopTimer()" ng-disabled="!vm.running">Stop</button>
            <input type="range" class="range" min=20 max=300 ng-model="vm.size" ng-change="vm.changeSize(vm.size)" ng-init="vm.size=20"></input>
            <input type="checkbox" ng-model="vm.blink">Blink?</input>
        </form>
        <div class="timer" ng-style="vm.fontSize">
            <h1><timer countup="vm.deadline * 60" finish-callback="vm.timeOver()" interval="1000" autostart="false"/>{{hhours}}:{{mminutes}}:{{sseconds}}</h1>
        </div>
    </div>
</body>
</html>
